@import '../shared/styles/variables.scss';

.todo-list {
  display: flex;
  padding: 10px;

  &__item {
    width: 30%;
  }

  &__add-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    align-self: center;
    border: none;
    color: #fff;
    background-color: $violet;

    &:hover {
      cursor: pointer;
      color: #e1c558;
    }
  }
}
