<div class='todo-list'>
  <div *ngFor="let todo of todos" class='todo-list__item'>
    <app-todo-item
      [todo]="todo"
      (deleteToDo)="deleteToDo(todo.id)"
      (completeToDo)="completeToDo(todo.id)"
    >
    </app-todo-item>
  </div>
  <button (click)="goToAddToDoPage()" class="todo-list__add-btn">
      <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>

