<div class="header">
  <a routerLink="/" class="header__title">
    ToDo list
  </a>
  <div>
    <label for="board" class="header__label">Board</label>
    <select
      class="header__board-select"
      id="board"
      name="board"
      [(ngModel)]="selectedBoard"
      (change)="changeBoard()"
    >
      <option *ngFor="let board of boards" [value]="board">{{board}}</option>
    </select>
  </div>
</div>
