@import '../shared/styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
  padding: 20px;

  &__title {
    color: #fff;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    margin-right: 5px;
  }

  &__board-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;

    &:hover {
      cursor: pointer;
    }
  }
}
