<div class="todo-item" [ngClass]="{'todo-item--completed': todo.completed}">
  <div class="todo-item__field">
    <span *ngIf="todo.isImportant" class='todo-item__important-sign'>
      <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </span>
    <span [ngClass]="{'todo-item__task--completed': todo.completed}">{{todo.task}}</span>
  </div>
  <div class="todo-item__field">{{todo.description}} </div>
  <div class="todo-item__field">Board: {{todo.board}}</div>
  <div class="todo-item__buttons-container">
    <button class="todo-item__button" (click)="goToEditToDo()" title="Edit">
        <fa-icon [icon]="faPencilAlt"></fa-icon>
    </button>
    <button class="todo-item__button" (click)="delete()">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
    <button class="todo-item__button" (click)="complete()" title="Mark as completed">
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
  </div>
</div>
