@import '../../shared/styles/variables.scss';

.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid $yellow-dark;
  margin-right: 10px;
  min-height: 150px;

  &--completed {
    background-color: $yellow-light;
  }

  &__field {
    padding: 5px;
    font-size: 18px;
  }

  &__important-sign {
    color: #ed8017;
    margin-right: 5px;
  }

  &__task {
    &--completed {
      text-decoration: line-through;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}
