<form class="todo-form" [formGroup]="toDoForm" (ngSubmit)="onSubmit()">
  <div class="todo-form__group">
    <label for="task" class="todo-form__label">Task *</label>
    <input
      class="todo-form__control"
      type="text"
      id="task"
      formControlName="task"
    >
    <div *ngIf="task.invalid && task.touched">
      <span class="todo-form__error-msg" *ngIf="task.errors.required">
        Task is required
      </span>
      <span class="todo-form__error-msg" *ngIf="task.errors.minlength">
        Task should contain at least 2 symbols
      </span>
    </div>
  </div>
  <div class="todo-form__group">
    <label for="description" class="todo-form__label">Description</label>
    <textarea
      class="todo-form__control todo-form__textarea"
      rows="2"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="todo-form__group">
    <label for="board" class="todo-form__label">Board</label>
    <select
      class="todo-form__control"
      id="board"
      formControlName="board"
    >
      <option *ngFor="let board of boards" [value]="board">{{board}}</option>
    </select>
  </div>
  <div class="todo-form__group">
    <label for="date" class="todo-form__label">End date</label>
    <input
      class="todo-form__control"
      type="text"
      id="date"
      formControlName="date"
    >
    <span class="todo-form__error-msg" *ngIf="!date.valid && date.touched">
      Date format dd.mm.yyyy
    </span>
  </div>
  <div class="todo-form__checkbox">
    <input
      type="checkbox"
      id="isImportant"
      formControlName="isImportant"
    >
    <label for="isImportant" class="todo-form__label">Mark as important</label>
  </div>
  <button
    class="todo-form__button"
    type="submit"
    [disabled]="!toDoForm.valid"
  >
    {{buttonText}}
  </button>
</form>
