@import '../../shared/styles/variables.scss';

.todo-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $grey-dark;

    .ng-invalid.ng-touched {
      border-color: $red-error;
    }
  }

  &__control {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 3px 5px;

    &:focus {
      outline: none;
      border-radius: 5px;
      box-shadow: $input-box-shadow;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: bold;
  }

  &__textarea {
    resize: vertical;
  }

  &__checkbox {
    margin-bottom: 10px;
    color: $grey-dark;
  }

  &__error-msg {
    color: $red-error;
  }

  &__button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid $violet;
    background-color: $violet;
    color: #fff;
    font-size: 16px;

    &:hover {
      border-color: orange;
    }

    &[disabled] {
      background-color: $violet-disabled;
      border-color: $violet-disabled;
    }
  }
}

