<div class="login-form">
  <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm.form)">
    <h3>Log in</h3>
    <div class="form-control">
      <label for="email">Email</label>
      <input
        class="form-control__input"
        type="email"
        id="email"
        name="email"
        ngModel
        required
        #email="ngModel"
      >
      <span class="login-form__error" *ngIf="!email.valid && email.touched">
        Email is required
      </span>
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input
        class="form-control__input"
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
        #password="ngModel"
      >
      <span class="login-form__error" *ngIf="!password.valid && password.touched">
        Password must be at least 6 characters long
      </span>
    </div>
    <button class="login-form__button" type="submit" [disabled]="!loginForm.form.valid">Log in</button>
  </form>
</div>
