@import '../shared/styles/variables.scss';

.login-form {
  width: 40%;
  margin: 0 auto;

  &__error {
    color: $red-error;
  }

  &__button {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    background-color: $violet;
    border: 1px solid $violet;
    border-radius: 5px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background-color: $violet-disabled;
      border: 1px solid $violet-disabled;
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $border-color;

    &:focus {
      outline: none;
      box-shadow: $input-box-shadow;
    }
  }

  .ng-valid[required] {
    border-left: 5px solid $green;
  }

  .ng-invalid.ng-touched {
    border-left: 5px solid $red-error;
  }
}

