$violet: #691c8f;
$violet-disabled: #9470a5;
$yellow: #e1c558;
$yellow-dark: #daa520;
$yellow-light: #f6f2d1;
$red-error: #a91a32;
$green: #0b963f;
$grey-dark: #5a5858;

$border-color: #b2b0b0;

$input-box-shadow: 0 0 3px 2px #d4e1f4;
